

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root{

    /* --nomeVariabile:valore; */

    --fontParagrafi:'Inter', sans-serif;

    --fontTitoli:'Montserrat', sans-serif;
    --white: rgb(255, 255, 255);
    --white2: rgb(240,240,240);
    --grey: rgb(227,225,226);
    --black85: #4a4747;
    --yellow: rgb(245, 188, 0);
}

/*
font-family: 'Mukta Malar', sans-serif;
font-family: 'Red Hat Text', sans-serif;
*/



.f-title{

font-family: var(--fontTitoli) !important;
}

.f-text{

font-family: var(--fontParagrafi);
}

.textWhite2{
    color: var(--white2);
}

.card-text{

height: 75px;
}

.active>.page-link{

background-color: black;
}

a.page-link{

color: black;
}

@media screen and (max-width:520px){
    .title-masthead{

    font-size: 4rem;
    }
}


.main_min_h{
    min-height: 80vh;
}
.main_min_h2{
    min-height: 85vh;
}


.cardCustEdo{
    max-height: 800px;
}

@media screen and (max-width:768px){
    .main_min_h{
        min-height: 60vh;
        background: rgba(240,240,240);
    } 
}

body {
    background: var(--white2);
}
/* Header */
.headerCust{
    min-height: 80vh;
    background: url('/public/images/img_Header.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
@media screen and (max-width:768px){
    .headerCust{
        min-height: 50vh;
    }
}

.h1_home{
    padding-top: 35vh;
    color: var(--white);
    font-family: var(--fontTitoli);
    font-size: calc(6vh + 5vw);
    text-shadow: 1px 1px 50px rgb(155, 155, 155);
    letter-spacing: 8px;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .h1_home{
        padding-top: 10vh;
        letter-spacing: 3px;
        font-size: calc(5.6vh + 5vw);
    }
}
@media screen and (min-width: 1620px) {
    .h1_home{
        padding-top: 17vh;
    }
}

@media screen and (min-width: 1900px) {
    .h1_home{
        padding-top: 30vh;
    }
}

.h2_home{
    color: var(--black85);
    font-family: var(--fontTitoli);
    font-size: calc(2.5vh + 1.9vw);
    text-shadow: 1px 1px 50px rgb(252, 251, 251);
    letter-spacing: 2px;
}
@media screen and (max-width: 767px) {
    .h2_home{
        
        font-size: calc(2vh + 1.8vw);
        color: var(--white);
        text-shadow: 10px 1px 30px rgb(27, 27, 27);
    }
}

.btn_Search{
    background: var(--yellow);
    color: var(--white);
    font-size: 1.3rem;
    transition: 0.3s;
}

.btn_Search:hover{
    font-size: 2.1rem;
    background: var(--yellow);
    color: var(--white);
}

.fadeHead{
    height: 100px;
    background: linear-gradient(rgba(176, 179, 179, 0), rgba(240,240,240,1));
}

.spacer1Head{
    height: 100px;
}

/* Navbar */
.navItem {
    color: var(--white);
    letter-spacing: 1px;
    font-family: var(--fontParagrafi);
    font-weight: 400;
}

.navCust{
    background: rgba(74, 71, 71, 0.322);
    transition: 0.6s;
}

.navBgDark{
    background: var(--black85);
    transition: 0.6s;
}
@media screen and (max-width: 677px) {
    .navCust{
        background: rgb(74, 71, 71);
    }
}


/* Sez 1 */

.dim_decoration5{
    display: block;
    font-size: 5px;
    color: var(--black85);
}

.sez1BigP{
    font-size: calc(1.4rem + 0.7vw);
    text-align: end;
    color: var(--black85);
}

.p-text-Sez1{
    line-height: 1.8rem;
    font-size: calc(0.5rem + 0.5vw);
}
@media screen and (min-width: 2000px) {
    .p-text-Sez1{
        line-height: 2.5rem;
       
    }
}

@media screen and (max-width: 767px) {
    .p-text-Sez1{
        font-size: 1rem;
        line-height: 2.2rem;
       
    }
}

.black85{
    color: var(--black85);
}

@media screen and (max-width: 667px) {
    .sez1BigP{
        font-size: calc(2rem + 0.5vw);
        text-align: center;
    }

    .dim_decoration5{
        display: inline;
    }
}

/* Sez 2 */
.h2Sez2{
    font-size: calc(1rem + 1vw);
    letter-spacing: 1px;
    font-weight: 700;
}

.PcardAnnHome{
    text-align: justify;
    hyphens: auto;
}

.maxWCardHome{
    max-width: 400px;
}


/* Sez 4 / Artisti */

.artistImg{
    min-height: 100px;
    height: calc(50%);
}

.shadowCard{
    box-shadow: 1px 1px 20px rgb(203, 203, 203);
}

.shadowBtn{
    box-shadow: 1px 1px 20px rgb(225, 225, 225);
}
.btnSez4-D{
    display: flex;
}
@media screen and (min-width: 576px) {
    .btnSez4-D{
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .artistImg{
        min-height: 300px;
       
    } 
}

@media screen and (max-width: 575px) {
    .artistImg{
        display: none;
       
    } 
}

.charSpace1{
    letter-spacing: 1px;
}
.charSpace2{
    letter-spacing: 2px;
}

.btnCardSez4{
    background: var(--black85);
}

.PittureOfferta{
    background: url('/public/images/pitturaOfferta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photoOfferta{
    background: url('/public/images/fotoOfferta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.artigOff{
    background: url('/public/images/handMadeOff.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.viniliOff{
    background: url('/public/images/viniliOff.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bigImgSez4{
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url(/public/images/OffersImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 520px ;
}
@media screen and (max-width: 677px) {
    .bigImgSez4{
        min-height: 340px ;
    } 
}
@media screen and (min-width: 1200px) {
    .bigImgSez4{
        min-height: 700px ;
    } 
}

@media screen and (min-width: 2000px) {
    .bigImgSez4{
        min-height: 900px ;
    } 
}
.h2Sez4{
    font-size: calc(3vh + 1.8vw);
    color: var(--white);
    text-shadow: 10px 1px 30px rgb(27, 27, 27);
    letter-spacing: 4px;
}

@media screen and (min-width: 575px) and (max-width: 1200px) {
    .h2Sez4{
        font-size: calc(2vh + 1.8vw);
        color: var(--white);
        text-shadow: 10px 1px 30px rgb(27, 27, 27);
        letter-spacing: 3px;
        line-height: 4rem;
    }
}

.textPerc{
    font-size: calc(4vh + 1.9vw);
    text-shadow: 1px 1px 30px rgb(104, 104, 104);
}


/* Sez 3 */
.bgSez3{
    background-color: rgb(48, 48, 48);
}

.imgSez3{
    font-size: calc(2vw + 4vh);
}

.sez3Home_minH{
    min-height: 360px;
}

@media screen and (max-width: 767px) {
    .imgSez3{
        font-size: calc(0.5vw + 10vh);
    }
}

/* sez 5 */
.max-W-Sez5{
max-width: 2200px;
}
.sez3_MDtoXL{
    display: flex;
}
@media screen and (max-width: 800px) {
    .sez3_MDtoXL{
        display: none;
    }
}
.padCustSez3{
    padding-left: 10%;
    padding-right: 10%;
}
@media screen and (max-width: 955px) {
    .padCustSez3{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media screen and (min-width: 2650px) {
    .padCustSez3{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (min-width: 2900px) {
    .padCustSez3{
        padding-left: 0%;
        padding-right: 0%;
    }
}
.contCircleCust{
    height: calc(9vh + 15vw);
    width: calc(9vh + 15vw);
}

.circleCust{
    height: calc(6vh + 7vw);
    width: calc(6vh + 7vw);
    border: 7px dotted var(--black85);
    background: var(--white2);
}
.h4-Sez5{
    font-size: calc(0.9rem + 0.4vw);
    color: var(--black85);
    letter-spacing: 1px;
}
.h2Sez3{
    font-size: calc(1.3rem + 1.5vw);
    letter-spacing: 3px;
}
@media screen and (max-width: 1200px) {
    .circleCust{
        height: calc(7vh + 8vw);
        width: calc(7vh + 8vw);
        border: 5px dotted var(--black85);
        
    }
    .h4-Sez5{
        font-size: calc(0.6rem + 0.1vw);
        letter-spacing: 0px;
    }
    .h2Sez3{
        font-size: calc(1.3rem + 1vw);
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1800px) {
    .circleCust{
        height: calc(7vh + 8vw);
        width: calc(7vh + 8vw);
        border: 6px dotted var(--black85);
    }
    .h4-Sez5{
        font-size: calc(0.9rem + 0.1vw);
        letter-spacing: 0px;
    }
    .h2Sez3{
        font-size: calc(1.6rem + 1vw);
        letter-spacing: 2px;
    }
}

.circleCustCenter{
    height: calc(8vh + 10vw);
    width: calc(8vh + 10vw);
    background: var(--black85);
    border: 5px solid var(--white2);
}



.img-sez5{
    font-size: calc(3rem + 1vw);
}

.bordCircContCenter{
    border: 6px solid var(--black85);
}

.sez5_mobile{
    display: none;
}
@media screen and (max-width: 800px) {
    .sez5_mobile{
        display: block;
    }
}

.circleCustMobile{
    height: calc(15vh + 16vw);
    width: calc(15vh + 16vw);
    border: 5px dotted var(--black85);
    background: var(--white2);

}
@media screen and (max-width: 800px) {
    .sez5_mobile{
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .h4-Sez5{
        font-size: calc(0.9rem + 0.4vw);
        color: var(--black85);
        letter-spacing: 1px;
    }
    .h2Sez3{
        font-size: calc(1.3rem + 1.5vw);
        letter-spacing: 3px;
    }
}


.containerCustom{
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}

.content{
   display: inline-block;
   margin-right: 30px;
}
/* index annunci */
.min-h-cust{
    min-height: 80vh;
}

.refresh{
    font-size: 1.3rem;
    transition: 0.3s;
}

.refresh:hover{
    font-size: 1.7rem;
}