/* navbar */
.nav-bg{
  background: rgb(166,166,166);
  background: linear-gradient(180deg, rgba(166,166,166,0.9623248957786239) 42%, rgba(255,255,255,0.6205882011007529) 99%);      
}




.icon-log:hover{
  font-weight: 900;
}

.nav-cust{
  color: #2a2a2a;
  letter-spacing: 1px;
  font-size: large;
  font-weight: bold;
  margin-top: 1px;
  transition: 0.5s;
  text-decoration: none;
}

.nav-cust:hover .icon-log{
  font-weight: bold;
}
/* mouse over.nav-link*/
.nav-cust:hover{
  color: rgb(214, 164, 0);
  background-color: transparent;
  text-decoration: underline;
  text-shadow:1px 1px 20px rgb(255, 255, 255);
}

/* mouse active*/
.active-nav{
  color: white!important;
  font-weight: bold;
  text-shadow: 1px 1px 20px rgb(70, 70, 70);
  letter-spacing: 2px;
}
.active:hover{
  text-shadow: 1px 1px 20px rgb(70, 70, 70);
}

.lett-space{
  letter-spacing: 2px;
};

.linkNav-cust{
  letter-spacing: 1px;
  text-decoration: solid;
}

.detail-cust{
  background:var(--yellow);
  transition: 0.3s;
}

.detail-cust:hover{
  background:var(--yellow);
  font-size: 1.1rem;
}
/* fine navbar */

/* footer */
.text-custom{
  color: rgb(230, 27, 27);
}
.text-custom:active{
  color: var(--yellow)!important;
}

.text-custom:hover{
  color: black;
}

.detail-cust2{
  background:var(--yellow);
  transition: 0.3s;
  box-shadow: 1px 1px 15px #989898;
}

.detail-cust2:hover{
  background:var(--yellow);
  font-size: 1.3rem;
}